@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --linear-gradient: 90deg, #00FA9A, #48D1CC, #191970;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: linear-gradient(var(--linear-gradient));
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a2e;
    color: white;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index:1000;

 
}
.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0;
}
.menu-button {
    padding: 0.5rem 1rem;
    background-color: rgb(86, 51, 209);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
#logo {
    width: 300px;
    height: auto;
    margin-left: 0px;
    vertical-align: middle;
}

  #map {
    height: 100%;
    width: 100%;

}

#map-container {
    width: 80%;
    max-width: 1000px;
    height: 60%;
    max-height: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overlay: hidden;
    margin-left: 700px;
    margin-top: 50px;  
    padding: 2px;  
}